* text=auto eol=lf
*.html text encoding=utf-8
*.css text encoding=utf-8
*.js text encoding=utf-8
*.scss text encoding=utf-8
*.md text encoding=utf-8
*.xml text encoding=utf-8
*.txt text encoding=utf-8
